@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0; 
}

/* nav ul{
    list-style-type: none;  
} */

nav{
    background-color: rgb(75, 22, 75);
    color: white;
    height: 55px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-family: "Roboto", serif;
}

.gameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,90px);
    grid-template-columns: repeat(3,90px);
    margin-top: 20px;
    margin-left: 30px;

}

.box{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.bl{
    border-left: 0;
}
.br{
    border-right: 0;
}
.bt{
    border-top: 0;
}
.bb{
    border-bottom: 0;
}

.box:hover{
    background-color: rgb(222, 217, 210);
}

.info{
   margin: auto;
   border: 2px solid black;
   margin-left: 30px;
   height: 270px;
   width: 270px;
   border-radius: 20px;
}

.ele{
   margin-left: 20px;
   margin-top: 20px;
   display: block;
   text-align: center;

}

#reset{
    margin: auto ;
    margin-top: 15px;
    background-color: rgb(213, 208, 201);
    border-radius: 5px;
}

#gif{
    margin: auto ;
    margin-top: 15px;
    /* display: none; */
}

#gif1{
    margin: auto ;
    margin-top: 15px;
    /* display: none; */
}

@media screen and (max-width: 600px)
{
  .gameContainer{
    flex-wrap: wrap;
    
  }
  .info{
    margin: auto;
    margin-top: 20px;
    
  }
 
}